doctype html
html(lang='cn')
  head
    title= title
    meta(charset='utf-8', name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='keywords', content='汽车，买车，汽车网，汽车报价，汽车图片，新闻，评测，B级车')
    meta(name='description', content='好车多多提供汽车资讯，精彩的汽车新闻、行情、评测、导购内容。')
    link(rel='stylesheet', type='text/css', href='/styles/reset.css')
    link(rel='stylesheet', type='text/css', href='/styles/index.css')
    script(type='application/javascript', src='https://cdn.jinlidd.com/assets/js/flexible.min.js')
  body
    block content
